<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apap.director.client">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App">


        <activity
            android:name=".presentation.ui.login.LoginActivity"
            android:label="@string/app_name">
        </activity>

        <!-- Used for transferring files  after a successful connection -->
        <service android:enabled="true" android:name=".wifi.FileTransferService" />
        <service android:name=".data.net.websocket.service.StompService" />

        <activity android:name=".presentation.ui.home.HomeActivity"/>
        <activity android:name=".activity.InboxActivity"/>
        <activity android:name=".presentation.ui.message.NewMsgActivity"/>
        <activity android:name=".presentation.ui.contact.AddContactActivity"/>
        <activity android:name=".presentation.ui.register.NewAccountActivity"/>
        <activity android:name=".presentation.ui.contact.NewContactActivity"/>
        <activity android:name=".presentation.ui.contact.SingleContactActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".presentation.ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".presentation.ui.error.ErrorActivity"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.wifi.direct" android:required="true"/>
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="true" />


</manifest>
