<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apap.director.client">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App">


        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="com.apap.director.im.domain.chat.service.TCPChatService" />
        <service android:enabled="true" android:name=".util.keyExchange.FileTransferService" />

        <activity android:name=".activity.AuthUserActivity" />
        <activity android:name=".activity.ContactsActivity" />
        <activity android:name=".activity.InboxActivity" />
        <activity android:name=".activity.NewMsgActivity" />
        <activity android:name=".activity.AddContactActivity" />
        <activity android:name=".activity.SingleContactActivity"
            android:configChanges="orientation|screenSize" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.wifi.direct" android:required="true"/>
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="true" />

</manifest>
